/* ErrorPage.css */

.error-page {
    /* Set the background image URL and adjust the background properties */
    background-image: url('https://img.freepik.com/free-vector/error-404-concept-illustration_114360-1811.jpg?w=996&t=st=1694904103~exp=1694904703~hmac=2b7efa49d1f9793656fb6fd969373f8453c6943540051c6bdbe80254ee1d50df');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Define the dimensions and center the content */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-content {
    background-color: #fff; /* Semi-transparent white background for content */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }
  